# Operating System Files

*.DS_Store
Thumbs.db
*.sw?
.#*
*#
*~
*.sublime-*

# Build Artifacts

.gradle/
build/
target/
bin/
dependency-reduced-pom.xml

# Eclipse Project Files

.classpath
.project
.settings/

# IntelliJ IDEA Files

*.iml
*.ipr
*.iws
*.idea

README.html
out/production/VisualizeUrText/sample/Main 2.class
out/production/VisualizeUrText/sample/Main$10.class
out/production/VisualizeUrText/sample/Main$11.class
out/production/VisualizeUrText/sample/Main$12.class
out/production/VisualizeUrText/sample/Main$13.class
out/production/VisualizeUrText/sample/Main$14.class
out/production/VisualizeUrText/sample/Main$15.class
out/production/VisualizeUrText/sample/Main$16.class
out/production/VisualizeUrText/sample/Main$17.class
out/production/VisualizeUrText/sample/MainTest.class
out/production/VisualizeUrText/sample/Test/
out/production/VisualizeUrText/sample/Without.class
out/production/VisualizeUrText/sample/WithoutTest.class
